shamefully-hoist=false
strict-peer-dependencies=false
auto-install-peers=true

# Publish registry
registry=https://registry.npmjs.org/

# GitHub Packages (uncomment to use as default publish target)
# @elementastro:registry=https://npm.pkg.github.com
